<form name="employeeForm" #form="ngForm" autocomplete="off"
(ngSubmit)="onSubmit(form)">
    <hr style="color:transparent;">
    <hr style="color:transparent;">
    <h3>Employee Entry Form</h3>
    <hr>

    <!-- empID 
    empName 
    designation
    department  
    dateOfJoining  
    salary 
    empPhone  
    active -->

    <!-- Employee ID --Autogenerate -- -->
    <input type="hidden" name="empID" [(ngModel)]="employeeService.formEmployeeData.empID" >

    <!-- Full Name -->
    <div class="form-group">
        <label for="empName">
            Employee Name : 
        </label>
        <input type="text" 
        id="empName"
        name="empName" 
        #empName="ngModel" 
        [(ngModel)]="employeeService.formEmployeeData.empName"
        class="form-control"
        placeholder="Enter Employee Name"
        minlength="6"
        maxlength="25"
        required
        [ngClass]="{'is-invalid':empName.touched && empName.invalid}">

        <div class="validation-error" *ngIf="empName.touched && empName.invalid">
            <div *ngIf="empName.errors.required">
                Name field should not be empty
            </div>
        </div>
    </div>

    <!-- Designation -->
    <div class="form-group">
        <label for="designation">
            Designation : 
        </label>
        <input type="text" 
        id="designation" 
        name="designation" 
        #designation="ngModel" 
        [(ngModel)]="employeeService.formEmployeeData.designation"
        class="form-control"
        placeholder="Enter Designation"
        minlength="6"
        maxlength="25"
        required
        [ngClass]="{'is-invalid':designation.touched && designation.invalid}">

        <div class="validation-error" *ngIf="designation.touched && designation.invalid">
            <div *ngIf="designation.errors.required">
                Designation should not be empty
            </div>
        </div>
       
    </div>

    <!-- Department -->
    <div class="form-group">
        <label for="deptID">
            Department : 
        </label>
        <select name="deptID" id="deptID" class="form-control"
        #deptID="ngModel" required
        [(ngModel)]="employeeService.formEmployeeData.department.deptID">
            <option value=0 selected disabled>
                Choose a Department
            </option>

            <option *ngFor="let department of departmentService.departments" value={{department.deptID}} >  
                {{department.deptName}}
            </option>
            
        </select>
        <div class="validation-error" *ngIf="deptID.touched && deptID.invalid">
            <div *ngIf="deptID.errors.required">
                Please choose a Department
            </div>
        </div>
    </div>
    
    <!-- Date Of Joining -->
    <div class="form-group">
        <label for="dateOfJoining">
            Date of Joining : 
        </label>
        <input type="date"
        id="dateOfJoining" 
        name="dateOfJoining" 
        #dateOfJoining="ngModel" 
        [(ngModel)]="employeeService.formEmployeeData.dateOfJoining"
        class="form-control"
        required
        [ngClass]="{'is-invalid':dateOfJoining.touched && dateOfJoining.invalid}">

        <div class="validation-error" *ngIf="dateOfJoining.touched && dateOfJoining.invalid">
            <div *ngIf="dateOfJoining.errors.required">
                Date of Joining is required
            </div>
        </div>
    </div>
    
    <!-- Salary -->
    <div class="form-group">
        <label for="salary">
            Salary : 
        </label>
        <input type="number" 
        id="salary"
        name="salary" 
        #salary="ngModel" 
        [(ngModel)]="employeeService.formEmployeeData.salary"
        class="form-control"
        placeholder="Enter Salary"
        required
        [ngClass]="{'is-invalid':salary.touched && salary.invalid}">

        <div class="validation-error" *ngIf="salary.touched && salary.invalid">
            <div *ngIf="salary.errors.required">
                Salary should not be empty
            </div>
        </div>
    </div>

    <!-- Phone Number -->
    <div class="form-group">
        <label for="empPhone">
            Phone Number : 
        </label>
        <input type="text" 
        id="empPhone"
        name="empPhone" 
        #empPhone="ngModel" 
        [(ngModel)]="employeeService.formEmployeeData.empPhone"
        class="form-control"
        placeholder="Enter Phone Number"
        minlength="10"
        maxlength="10"
        required
        [ngClass]="{'is-invalid':empPhone.touched && empPhone.invalid}">

        <div class="validation-error" *ngIf="empPhone.touched && empPhone.invalid">
            <div *ngIf="empPhone.errors.required">
                Please input 10-digit Phone Number
            </div>
        </div>
    </div>

    <!-- IsActive -->
    <div class="form-group">
        <div class="form-check">
            <label for="active" class="form-check-label">
                Is Active
            </label>
            <input type="checkbox" name="active" id="active"
            #active="ngModel"
            [(ngModel)]="employeeService.formEmployeeData.active"
            class="form-check-input">
        </div>
    </div>


    <!-- Button for Submit -->
    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-primary"
        [disabled]="!(form.valid && form.dirty)">
            Submit
        </button>
        &nbsp;
        <button type="reset" class="btn btn-secondary">
            Reset
        </button>
    </div>
    
</form>